// Happens when the viewport is 750 pixels or wider
@media (min-width: 750px) {  

    .image_slideshow {
        height: 958px;
        // height: 978px;
        padding-top: 110px;

        .slide {
            max-height: 848px;
            
            img {
                height: 848px;
            }

            .image_text_boundaries {
                padding-left: calc(((100vw - 18px) - 750px)/2);
    
                .image_text {

                    .sub_text {
                        width: 70%;
                        margin: 35px auto;
                    }
                }
            }
        }
    }

    .card_container {
        .card_width_container {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            .card_telecoms,
            .card_cybers {
                width: 345px;
                margin-right: 30px;
                .btn {
                    margin-top: 22px;
                }
            }
            .card_web,
            .card_dev {
                width: 345px;
            }
        }
    }

    .description_block {
        .description_background {
        .description_width {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            }
        }
    }

    .latest .latest_boundaries {
        width: 750px;
    }

    .latest_width {
        .latest_column {
            width: 750px;
            flex-direction: row;
            justify-content: space-around;

            .news_card {
                width: 345px;
                margin: 0 0;
            }

            .news_card {
                width: 345px;
                // margin: 0 0;
            }

            .news_card:nth-of-type(3) {
                display: none;
            }
        }
    }

    .logo_container {
        display: flex;
        .logo_segment {
            width: 750px;
        }
    }
}

// Happens when the viewport is 975 pixels or wider
@media (min-width: 975px) {

    .slide_left {
        transform: translateX(-400px);
    }

    .image_slideshow {
        padding-top: 210px;
        height: 968px;

        .slide {

            .image_text_boundaries {
                padding-left: calc(((100vw - 18px) - 970px)/2);

                .image_text {
                    text-align: left;
                    
                    .sub_text {
                        margin: 35px 0;
                    }
    
                    a {
                        margin: 0;
                    }
                }
            }
        }

    }

    .card_container {
        .card_width_container {
            width: 970px;
            .card_bespoke,
            .card_it,
            .card_digital {
                width: 293px;
            }
            .card_bespoke,
            .card_it {
                margin-right: 30px;
            }
            .card_it .btn {
                margin-top: 22px;
            }
            .card_telecoms,
            .card_cybers {
                width: 455px;
                margin-right: 30px;
                .btn {
                    margin-top: 0;
                }
            }
            .card_web,
            .card_dev {
                width: 455px;
            }
        }
    }

    .description_block {
        .description_background {
        .description_width {
            width: 970px;
            }
        }
    }

    .latest .latest_boundaries {
        width: 970px;
    }

    .latest_width {
        .latest_column {
            width: 970px;
            .news_card {
                width: 455px;
            }
        }
    }

    .logo_container {
        .logo_segment {
            width: 970px;
            .logo_box {
                img {
                    max-height: 62px;
                }
                .logo_pop_out {
                    bottom: 263px;
                }
                .pop_crane,
                .pop_northern {
                    bottom: 307px;
                }
            }
        }
    }
}

// Happens when the viewport is 1260 pixels or wider
@media (min-width: 1260px) {

    .image_slideshow {

        .slide {

            .image_text_boundaries {
                padding-left: calc(((100vw - 18px) - 1200px)/2);
            }
        }
    }

    .card_container {
        .card_width_container {
            width: 1200px;
            .card_bespoke,
            .card_it,
            .card_digital {
                width: 370px;
            }
            .card_it .btn {
                margin-top: 0;
            }
            .card_telecoms,
            .card_cybers,
            .card_web,
            .card_dev {
                width: 270px;
                margin-right: 30px;
            }
            .card_dev {
                margin-right: 0;
            }
        }
    }

    .description_block {
        .description_background {
        .description_width {
            width: 1200px;
                .description_placement {
                    width: 50%;
                }
            }
        }
    }

    .latest .latest_boundaries {
        width: 1200px;
    }

    .latest_width {
        .latest_column {
            width: 1200px;

            .news_card {
                width: 370px;
            }

            .news_card:nth-of-type(3) {
                display: block;
            }
        }
    }

    .logo_container {
        .logo_segment {
            width: 1200px;
            .logo_box {
                img {
                    max-height: 70px;
                }
                .logo_pop_out {
                    bottom: 267px;
                }
                .pop_crane,
                .pop_northern {
                    bottom: 311px;
                }
            }
        }
    }
}

// And because CSS is cascading, code further down, 
// overrides the previous code if possible
