@import 'mixins.scss';
@import 'variables.scss';

.sticky_header {
    transform: translateY(-168px)
}

.fixed_position {
    height: 100vw;
    overflow: hidden;
}

header {
    transition: all .5s ease-in-out;
    position: fixed;
    height: 168px;
    // top: 100px;
    padding: 20px 0;
    z-index: 500;
    width: 100%;
    background-color: white;

    .width_container {
        height: 128px;
        justify-content: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        .header_box {
            display: flex;
            width: auto;
            height: 70px;
            .logo_box {
                display: inline-block;
                height: 70px;
                max-width: 565px;
                img {
                    max-width: 100%;
                    max-height: 70px;
                    padding: 0 15px;
                }
            }
            .actions_container {
                height: 70px;
                width: auto;
                margin-left: auto;
                margin-right: 15px;
                .actions {
                    display: flex;
                    width: auto;
                    justify-content: end;
                    padding: 7px 0;
                    a {
                        text-transform: uppercase;
                        line-height: 46px;
                        font-size: 18px;
                        padding: 5px 15px;
                        border-radius: 3px;
                        height: 55px;
                        text-decoration: none;
                        border: none;
                        text-align: center;
                        i {
                            line-height: 45px;
                            font-size: 23px;
                            margin-left: -4px;
                            margin-right: 12px;
                        }
                    }
                    .btn-phone {
                        display: block;
                        width: 56px;
                        height: 56px;
                        text-align: center;
                        margin-right: 20px;
                        a {
                            display: inline-block;
                            color: #333645;
                            text-align: center;
                            line-height: 32px;
                            font-size: 32px;
                            padding-left: 20px;
                        }
                    }
                    .btn-support,
                    .btn-contact {
                        display: none;
                    }
                    .search_container {
                        display: none;
                    }
                    .btn-menu {
                        display: block;
                        width: 63px;
                        height: 56px;
                        padding: 5px 15px 5px;
                        background-color: #333645;
                        border-radius: 3px;
                        justify-content: center;
                        &:hover {
                            background-color: #22242e;
                        }
                        .burger_line {
                            display: block;
                            height: 3px;
                            width: 30px;
                            background-color: white;
                            margin: 5px 0;
                            // transform: rotateZ(0deg);
                        }
                        p {
                            width: 33px;
                            margin-top: 10px;
                            font-size: 12px;
                            line-height: 12px;
                            text-transform: uppercase;
                            text-align: center;
                            color: white;
                        }

                        .tilt_left {
                            transition: all .25s ease-in-out;
                            // margin: 0;
                            transform: translateY(8px) rotateZ(-45deg);
                        }
                        .tilt_right {
                            transition: all .25s ease-in-out;
                            // margin: 0;
                            transform: translateY(-8px) rotateZ(45deg);
                        }
                    }
                }
            }
        }
        .search_wide {
            display: block;
            margin: 8px 15px 0px;
            height: 47px;
            form {
                height: 100%;
                display: flex;
                justify-content: end;
                border-radius: 3px;
                -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.2);
                -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.2);
                box-shadow: inset 0 0 3px rgba(0,0,0,.2);
                input {
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0,0,0,.1);
                    border: none;
                    padding-left: 20px;
                    font-size: 14px;
                    border-radius: 3px;
                    outline: none;
                }
                .btn-search {
                    background: none;
                    border: none;   
                    width: 47px;
                    margin-right: 15px;
                    right: 0;
                    position: absolute;
                    a {
                        text-align: center;
                        width: 47px;
                        height: 47px;
                        line-height: 47px;
                        color: black;
                        :hover {
                            text-transform: none;
                            color: black;
                        }
                        // p {    
                        //     margin-top: 8px;     
                        //     width: 47px;
                        //     height: 47px;
                        //     line-height: 30px;
                        //     font-size: 20px;
                        // }
                    }

                }
            }
        }
    }

    .nav_width {
        display: none;
        background-color: $navigation-back;
        border-bottom: solid 1px lightgray;
        .navigation-row  {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 960px;
            .nav {
                display: block;   
                width: 160px;
                height: 100px;
                color: white;
                font-weight: 400;
                letter-spacing: .4px;
                line-height: 18px;
                font-size: 18px;
                padding: 19px 0 18px;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                border-left: 1px solid rgba(255,255,255,0.1);
                border-right: 1px solid rgba(0,0,0,0.25);
            }
            small {
                font-size: 12px;
                line-height: 12px;
                width: 200px;
                height: 11px;
                padding-bottom: 1px;
            }
            a .fa {
                height: 33px;
                padding-bottom: 10px;
            }
        }
    }
    
    div[class*=contents] {
        display: none;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        .content_position {
            margin-left: auto;
            margin-right: auto;
            width: 970px;
            flex-direction: row;
            justify-content: flex-start;
            a {
                display: block;
                color: white;
                margin-left: 30px;
                text-transform: uppercase;
                letter-spacing: .5px;        
                padding: 10px 5px;
                font-size: 13px;
                line-height: 23px;
            }
        }
        a:first-of-type {
            margin-left: 0;
        }
    }

    .side_menu {
        // border: solid 1px red;
        position: fixed;
        right: 0px;
        margin-top: -168px;
        margin-left: auto;
        margin-right: -276px;
        z-index: 1000;
        height: 100%;
        width: 276px;
        padding: 21px;
        transition: all .2s ease-in-out;
        display: block;
        background-color: $navigation-back;
        overflow: scroll;
        
        .header_lists {
            width: 216px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .header_list_item_container {
                border-radius: 3px;
                border: solid 1px #1e1e20;
                height: auto;
                width: 216px;
                margin: 21px 0 0;
                background-color: #262830;

                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    width: 216px;
                }
                .block_link {
                    font-size: 16px;
                    line-height: 42px;
                    display: block;
                    height: 42px;
                    // padding: 10px 0px;
                    border-top: solid 1px #444450;
                    border-bottom: solid 1px #1e1e20;
                }
                a, .block_link:first-of-type {
                    border-top: none;
                }
                a, .block_link:last-of-type {
                    border-bottom: none;
                }    
                .contact_button {
                    border: solid 1px #444450;
                    border-radius: 3px;
                    // border: solid 1px red;
                    display: block;
                    // width: 216px;
                    height: 64px;
                    line-height: 26px;
                    font-size: 18px;
                    padding: 19px 0 18px;
                }
                .contact_button:hover {
                background-color: #444450;
                }
                .header_button {
                    i {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 25px;
                    }
                    span {
                        font-size: 10px;
                        width: 100%;
                        display: block;
                    }
                }
            }

            .contact {
                background-color: $navigation-back;
            }

            .header_button_main {
                border-radius: 3px;
                border: solid 1px #1e1e20;
                width: 216px;
                margin: 21px 0 0;
                height: 116px;
                padding: 20px;
                text-align: center;
                &:hover {
                    background-color: #3d404e;
                }
                .header_button {
                    // margin-top: 20px;
                    // border: solid 1px red;

                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    i {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 25px;
                    }
                    span {
                        color: white;
                        font-size: 10px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    
        .menu_lists_container {
            margin-top: 21px;
            color: white;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .menu_header, .sub_header {
                color: white;
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                width: 100%;
                padding: 20px;
                line-height: 16px;
                font-size: 16px;
                height: 56px;
                background-color: #262834;
                margin: 0;
                border-top: solid 1px #444450;
                border-bottom: solid 1px #1e1e20; 
            }
            .sub_header {
                background-color: #262830;
                font-size: 12px;
                padding: 15px 20px;
                &:hover {
                    background-color: #526781;
                }
            }
            .menu_header {
                &:hover {
                    background-color: #3d404e;
                }
            }
        }
    }

    .menu_overlay {
        display: block;
        z-index: 50;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
    }

    .side_menu_transform {
        transform: translateX(-275px);
        transition: all .2s ease-in-out;
    }

    .modal_container {
        // display: none;
        width: 600px;
        height: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        // margin: auto auto;
        border-radius: 5px;
        .modal_title_container {
            width: 100%;
            height: auto;
            padding: 15px;
            border-bottom: solid 1px grey;
            .modal_title {
                text-transform: capitalize;
                font-size: 25px;
            }
        }
        .modal_text_container {
            width: 100%;
            height: auto;
            padding: 20px 15px;
            border-bottom: solid 1px grey;
            .modal_text {
                // color: darkslategrey;
                color: grey;
                font-size: 17px;
            }
        }
        .modal_button_container {
            display: flex;
            justify-content: space-around;
            padding: 10px 10px;
            p {
                cursor: pointer;
                display: inline-block;
                color: white;
                text-transform: uppercase;
                width: auto;
                padding: 10px 40px;
                border-radius: 3px;
            }
            p:hover {
                text-decoration: none;
                color: white;
            }
            .modal_settings_button {
                background-color: grey;
            }
            .modal_accept_button {
                background-color: #926fb1;
            }
        }
    }

    .modal_overlay {
        z-index: 45;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
    }

    .deactive {
        display: none;
    }
}

.push-this {
    transition: all .2s ease-in-out;
}

.push-left {
    transform: translateX(-275px);
    transition: all .2s ease-in-out;

    @media (min-width: 975px) {
        transform: translateX(-400px);
    }
}

@media (min-width: 750px) {
    .sticky_header {
        transform: translateY(-110px)
    }

    header {
        height: 110px;
        .width_container {
            height: 70px;
            width: 750px;
            .header_box {
                padding: 0 0;
                margin: 0 -15px;
                height: 70px;
                width: 750px;
                .logo_box {
                    height: 60px;
                    padding: 0 15px;
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .actions_container { 
                    display: block;
                    height: 70px;
                    .actions {
                        height: 70px;
                        .btn-phone {
                            display: none;
                        }
                        .search_container {
                            display: flex;
                            margin-right: 20px;
                            input {
                                display: block;
                                height: 56px;
                                width: 174px;
                                padding: 5px 15px;
                                // grid-column-start: 1;
                                // grid-column-end: 2;
                                border-radius: 3px 0 0 3px;
                                border: 1px solid grey;
                                outline: none;
                            }
                            a { // Search Box Button
                                display: inline-block;
                                background-color: #999aa2;
                                border-radius: 0 3px 3px 0;
                                height: 56px;
                                width: 63px;
                                text-align: center;
                                color: white;
                                &:hover {
                                    background-color: #7e808a;
                                }
                                i {
                                    font-size: 23px;
                                    width: 43px;
                                    height: 56px;
                                }
                            }
                        }
                    }
                }
            }
            .search_wide {
                display: none;
            }
        }

        .side_menu {
            margin-top: -110px;
        }
    }
}

@media (min-width: 975px) {
    .sticky_header {
        transform: translateY(-211px)
    }

    header {
        height: 210px;
        padding-top: 20px;
        padding-bottom: 0px;
        .width_container {
            width: 970px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            .header_box {
                width: 970px;
                .logo_box {
                    height: 65px;
                    padding: 0 15px;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    img {
                        width: 364px;
                    }
                }
                .actions_container { 
                    margin-right: 0px;
                    .actions {
                        height: 100%;
                        .btn-support,
                        .btn-contact {
                            display: block;
                            margin-right: 20px;
                            width: 143px;
                            transition: opacity .5s;
                            color: white;
                            opacity: 1;
                        }
                        .button-fade {
                            transition: opacity .5s;
                            opacity: 0;
                        }
                        .btn-support {
                            width: 143px;
                            background-color: #4183d7 !important;  
                            &:hover {
                                background-color: #2a6ec6 !important;
                            }
                        }
                        .btn-contact {
                            width: 151px;
                            background-color: #999aa2 !important;
                            &:hover {
                                background-color: #84858f !important;
                            }
                        }
                        .search_container {
                            // border: solid 1px red;
                            width: 63px;
                            input {
                                width: 300px;
                                display: none;
                                transition: opacity .5s;
                                opacity: 0;
                            }
                            a {
                                border-radius: 3px;
                            }
                            .search-fade-in {
                                transition: opacity .5s;
                                opacity: 1;
                            }
                            .display_block {
                                display: block;
                            }
                        }
                        .display_none {
                            display: none;
                        }
                        .search_width {
                            width: 363px;
                        }
                        .btn-menu {
                            grid-column-start: 4;
                            grid-column-end: 5;
                        }
                    }
                }
            }
        }
        .nav_width {
            display: block;
        }

        .side_menu {
            width: 400px;
            z-index: 1200;
            margin-right: -400px;
            margin-top: -210px;
            padding: 0;
            .header_lists {
                display: none;
                border-top: 0px;
            }
            .menu_lists_container {
                margin-top: 0px;
            }
        }

        .side_menu_transform {
            transform: translateX(-400px);
        }
    }
}

@media (min-width: 1260px) {

    header {
        .width_container {
            width: 1200px;
            .header_box {
                width: 1200px;
                .logo_box {
                    height: 65px;
                    width: 400px;
                    padding: 0 15px;
                    img {
                        width: 370px;
                    }
                }
                .actions_container { 
                    .actions {
                        .search_container {
                            width: auto;
                            input {
                                display: block;
                                width: 240px;
                                opacity: 1;
                            }
                            a {
                                border-radius: 0 3px 3px 0;
                            }
                        }
                    }
                }
            }
        }
        .nav_width {
            .navigation-row  {
                width: 1200px; 
                .nav { 
                    width: 200px; 
                }
            }
        }
        div[class*=contents] {
            .content_position {
                width: 1200px;
                a {   
                    font-size: 16px;
                    line-height: 23px;
                }
            }
        }
        .modal_container {
            width: 600px;
            height: auto;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            // margin: auto auto;
            border-radius: 5px;
            .modal_title_container {
                width: 100%;
                height: auto;
                padding: 15px;
                border-bottom: solid 1px grey;
                .modal_title {
                    text-transform: capitalize;
                    font-size: 25px;
                }
            }
            .modal_text_container {
                width: 100%;
                height: auto;
                padding: 20px 15px;
                border-bottom: solid 1px grey;
                .modal_text {
                    // color: darkslategrey;
                    color: grey;
                    font-size: 17px;
                }
            }
            .modal_button_container {
                display: flex;
                justify-content: space-around;
                padding: 10px 10px;
                a {
                    cursor: pointer;
                    display: inline-block;
                    color: white;
                    text-transform: uppercase;
                    width: auto;
                    padding: 10px 40px;
                    border-radius: 3px;
                }
                a:hover {
                    text-decoration: none;
                    color: white;
                }
                .modal_settings_button {
                    background-color: grey;
                }
                .modal_accept_button {
                    background-color: #926fb1;
                }
            }
        }
        #modal_overlay {
            z-index: 45;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,.5);
        }
    }
    
}