@import "variables.scss";

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.image_slideshow {
    padding-top: 168px;
    justify-content: center;
    // position: relative;
    // position: absolute;
    border-top: solid 1px grey;
    overflow: hidden;

    .image_text_boundaries {
        color: white;
        position: relative;
        text-align: center;

        @media (min-width: 750px) {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
        }
        @media (min-width: 975px) {
            width: 975px;
        }
        @media (min-width: 1260px) {
            width: 1200px;
        }

        .image_text {
            margin-top: 250px;
            width: 100%;
            top:-758px;
            height: 758px;
            position: absolute;

            .heading {
                font-size: 48px;
                font-weight: 500;
                // padding-bottom: 25px;
                text-transform: uppercase;
                // line-height: 52.8px;
                line-height: 48px;
            }

            .sub_text {
                font-size: 20px;
                letter-spacing: .4px;
                line-height: 36px;
                margin: 35px 0;
            }

            a {
                display: block;
                border: none;
                padding: 5px 20px;
                width: 222px;
                height: 62px;
                text-transform: uppercase;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                color: white;
                border-radius: 3px;
                margin: 0 auto;
                .fa {
                    width: 20px;
                    height: 50px;
                    margin-left: 6px;
                    margin-right: -4px;
                }
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

}

.card_container {
    width: auto;
    margin: 0 auto;
    height: auto;
    .card_width_container {
        padding: 0 15px 50px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        a:hover {
            text-decoration: none;
            text-transform: none;
        }
        .card {
            display: block;
            border-radius: 3px;
            height: 100%;
            width: 100%;
            padding: 30px;
            margin-top: 30px;
            text-align: center;
            color: #666666;            
            h2,
            p,
            span,
            .btn_container,
            .icon {
                width: auto; 
                height: auto;
                display: block;
            }
            h2 {
                height: 36px;
                padding-bottom: 17px;
                margin-bottom: 11px;
                font-size: 18px;
                line-height: 19.8px;
            }
            p {
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 13px;
                letter-spacing: .4px;
            }
            span {
                margin: 0 auto 17px;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                .icon {
                    line-height: 58px;
                    color: white;
                }
            }
            .btn {
                padding: 5px 15px;
                line-height: 35px;
                font-size: 17px;
            }
        }
        .card:hover {
            color: white;
        }
        .btn_container {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}

.description_block {
    display: block;
    position: relative;
    .description_background { 
        background-image: url(../Images/Dark_Background.jpeg);
        background-repeat: no-repeat;
        .description_width {
            width: 100%;
            padding: 50px 15px;
            .description_placement {
                margin-top: auto;
                color: white;
                .description_header {
                font-weight: 400;
                font-size: 36px;
                line-height: 39.6px;
                text-transform: uppercase;
                margin: -6px 0 28px;
                }
                .description_first {
                    font-weight: 400;
                }
                .description_first,
                .description_text {
                    margin-bottom: 25px;
                    line-height: 30px;
                    font-size: 16px;
                }
                .description_button {
                    padding: 10px 20px;
                    text-transform: uppercase;
                    color: black;
                    background-color: white;
                    border-radius: 3px;
                }
            }
        }
    }
}

.latest {
    height: 104px;
    width: 100%;

    -webkit-box-shadow: 0px 10px 21px 0px rgb(180,180,180);
    -moz-box-shadow: 0px 10px 21px 0px rgba(180,180,180,1);
    box-shadow: 0px 10px 21px 0px rgba(180,180,180,1);
    &_boundaries {
        width: auto;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }
    &_header { 
        display: block;
        width: 70px;    
        padding: 40px 0;
        height: 104px;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        border-bottom: 5px solid #333645;
    }
}

.latest_width {
    height: auto;
    .latest_column {
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        width: auto;

        .news_card {
            display: block;
            width: auto;
            height: 100%;
            margin: 0 25px;
            .card_image_container {
                display: block;
                width: 100%;
                .card_image {
                    a {
                        display: block;
                        line-height: 0px;
                        img {
                            width: 100%;
                            height: auto;
                            object-fit: fill;
                            // Looked at the HTML of the real site to get the exact values
                            transition: all .25s cubic-bezier(.215, .61, .355, 1);
                        }   
                        :hover {
                            transform: scale(1.1);
                            opacity: 75%;
                        }    
                    }
                    overflow: hidden;
                    border-radius: 3px 3px 0px 0px;
                    -webkit-box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.1);
                    -moz-box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.1);
                    box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.1);

                }
                
                .tab_boundaries {
                    position: relative;
                    width: 100%;
                    height: 0;
                    z-index: 5;
                    .tab_text {
                        display: flex;
                        position: absolute;
                        top: 10px;
                        right: 0px;
                        height: 23px;
                        .tab_pop_out {
                            display: none; 
                            position: absolute;  
                            right: -75px;
                            top: -60px;
                            width: 200px;
                            height: 50px;
                            padding: 10px 15px;
                            font-size: 12px;
                            line-height: 16.8px;
                            text-align: center;
                            color: white;
                            background-color: #333645;
                        }
                        .pop_out_arrow {
                            display: none;
                            position: absolute;
                            transform: rotate(45deg);
                            width: 10px;
                            height: 10px;
                            background-color: #333645;
                            padding-bottom: -5px;
                            right: 20px;
                            top: -15px;
                        }
                        .tab_link {
                            display: block;
                            color: white;
                            padding: 0 10px;
                            font-size: 12px;
                            line-height: 23px;
                            font-weight: 600;
                            text-transform: uppercase;
                            // text-decoration: underline;
                            width: fit-content;
                            margin-left: auto;
                            margin-right: 0px;
                        }
                    }
                    :hover {
                        .tab_pop_out,
                        .pop_out_arrow {
                            display: block;
                        }
                    }
                }
            }

            .card_content {
                padding: 30px;
                height: auto;
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 0px 0px 3px 3px;
                margin-bottom: 50px;
                
                .news_title {
                    display: block;
                    height: 48px;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    width: 100%;
                    margin-bottom: 15px;
                }
                .news_description {
                    font-size: 13px;
                    line-height: 22px;
                    margin-bottom: 25px;
                    padding-right: 25px;
                    color: grey;
                }
                .read_more_button {
                    display: block;
                    text-transform: uppercase;
                    color: white;
                    padding: 5px 15px;
                    line-height: 35px;
                    font-size: 17px;
                    width: 128px;
                    height: 47px;
                    border-radius: 3px;
                }
                .card_author {
                    border-top: solid 1px grey;
                    padding-top: 30px;
                    margin-top: 30px;
                    display: flex;
                    width: 100%;
                    // border: solid 1px red;
                    .card_author_logo {
                        display: block;
                        width: 47px;
                        height: 47px;
                        border-radius: 50%;
                    }
                    .card_author_content {
                        padding-left: 20px;
                        display: block;

                        .card_author_name,
                        .card_author_date {
                            margin: 0;
                            font-size: 14px;
                            line-height: 22px;
                        }
                        .card_author_date {
                            color: grey;
                        }

                        .card_author_name {
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

.logo_container {
    display: none;
    background: rgb(235, 235, 235);
    background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 100%);
    height: 170px;
    position: relative;
    .logo_segment {
        display: flex;
        width: 750px;
        // border: solid 1px green;
        margin: auto auto;
        padding: 0 15px;
        justify-content: space-between;
        .logo_box {
            // border: solid 1px red;
            display: block;
            align-self: center;
            img {
                width: auto;
                max-height: 45px;
                padding: 0 20px;
                // border: solid 1px red;
            }
            .coloured {
                display: none;
            }
            &:hover {
                .greyscale {
                    display: none;
                }
                .coloured,
                .logo_pop_out {
                    display: block;
                }
            }
            .logo_pop_out {
                display: none;
                position: relative;
                width: 100%;
                bottom: 255px; 
                justify-content: center;
                text-align: center;
                .description {
                    display: block;
                    position: absolute;
                    width: 250px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    color: white;
                    background-color: #333645;
                    padding: 20px;
                    h3 {
                        font-size: 18px;
                        line-height: 19.8px;
                        padding-bottom: 17px;
                        margin-bottom: 11px;
                    }
                    p {
                        display: block;
                        position: relative;
                        line-height: 22px;
                        font-size: 13px;
                        z-index:2;
                    }
                    .arrow {
                        position: absolute;
                        bottom: -25px;
                        width: 50px;
                        height: 50px;
                        background-color: #333645;
                        left: 50%;
                        transform: translate(-50%, 0) rotate(45deg);
                        z-index: 1;
                    }
                }
            }
            .pop_crane, .pop_northern {
                bottom: 299px;
            }
        }
    }
}

// .deactive {
//     display: none;
// }
// ^^^^^^^^^^^
// Happens when the viewport is less than 750 pixels


@import "_media.scss";
@import "mixins.scss";