* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.image_slideshow {
  height: 926px;
  width: calc(100vw - 18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 168px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid 1px grey;
  overflow: hidden;
}

.image_slideshow .slide {
  display: block;
  width: calc(100% - 18px);
  height: auto;
  max-height: 758px;
}

.image_slideshow .slide img {
  width: calc(100vw - 18px);
  height: 758px;
}

.image_slideshow .slide .image_text_boundaries {
  width: calc(100vw - 18px);
  color: white;
  position: absolute;
  top: 0px;
  padding-top: 120px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, rgba(0, 0, 0, 0.1)), to(black));
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.1) 50%, black 100%);
}

.image_slideshow .slide .image_text_boundaries .image_text {
  height: 758px;
  padding-top: 150px;
}

.image_slideshow .slide .image_text_boundaries .image_text .heading {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 48px;
}

.image_slideshow .slide .image_text_boundaries .image_text .sub_text {
  font-size: 20px;
  letter-spacing: .4px;
  line-height: 36px;
  margin: 35px 0;
}

.image_slideshow .slide .image_text_boundaries .image_text a {
  display: block;
  border: none;
  padding: 5px 20px;
  width: 222px;
  height: 62px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 3px;
  margin: 0 auto;
}

.image_slideshow .slide .image_text_boundaries .image_text a .fa {
  width: 20px;
  height: 50px;
  margin-left: 6px;
  margin-right: -4px;
}

.image_slideshow .slide .image_text_boundaries .image_text a:hover {
  text-decoration: none;
}

.card_container {
  width: auto;
  margin: 0 auto;
  height: auto;
}

.card_container .card_width_container {
  padding: 0 15px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_container .card_width_container a:hover {
  text-decoration: none;
  text-transform: none;
}

.card_container .card_width_container .card {
  display: block;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  color: #666666;
}

.card_container .card_width_container .card h2,
.card_container .card_width_container .card p,
.card_container .card_width_container .card span,
.card_container .card_width_container .card .btn_container,
.card_container .card_width_container .card .icon {
  width: auto;
  height: auto;
  display: block;
}

.card_container .card_width_container .card h2 {
  height: 36px;
  padding-bottom: 17px;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 19.8px;
}

.card_container .card_width_container .card p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 13px;
  letter-spacing: .4px;
}

.card_container .card_width_container .card span {
  margin: 0 auto 17px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.card_container .card_width_container .card span .icon {
  line-height: 58px;
  color: white;
}

.card_container .card_width_container .card .btn {
  padding: 5px 15px;
  line-height: 35px;
  font-size: 17px;
}

.card_container .card_width_container .card:hover {
  color: white;
}

.card_container .card_width_container .btn_container {
  height: 100%;
  width: 100%;
  position: relative;
}

.description_block {
  display: block;
  position: relative;
}

.description_block .description_background {
  background-image: url(../Images/Dark_Background.jpeg);
  background-repeat: no-repeat;
}

.description_block .description_background .description_width {
  width: 100%;
  padding: 50px 15px;
}

.description_block .description_background .description_width .description_placement {
  margin-top: auto;
  color: white;
}

.description_block .description_background .description_width .description_placement .description_header {
  font-weight: 400;
  font-size: 36px;
  line-height: 39.6px;
  text-transform: uppercase;
  margin: -6px 0 28px;
}

.description_block .description_background .description_width .description_placement .description_first {
  font-weight: 400;
}

.description_block .description_background .description_width .description_placement .description_first,
.description_block .description_background .description_width .description_placement .description_text {
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 16px;
}

.description_block .description_background .description_width .description_placement .description_button {
  padding: 10px 20px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 3px;
}

.latest {
  height: 104px;
  width: 100%;
  -webkit-box-shadow: 0px 10px 21px 0px #b4b4b4;
  box-shadow: 0px 10px 21px 0px #b4b4b4;
}

.latest_boundaries {
  width: auto;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.latest_header {
  display: block;
  width: 70px;
  padding: 40px 0;
  height: 104px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 5px solid #333645;
}

.latest_width {
  height: auto;
}

.latest_width .latest_column {
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}

.latest_width .latest_column .news_card {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 25px;
}

.latest_width .latest_column .news_card .card_image_container {
  display: block;
  width: 100%;
}

.latest_width .latest_column .news_card .card_image_container .card_image {
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1);
}

.latest_width .latest_column .news_card .card_image_container .card_image a {
  display: block;
  line-height: 0px;
}

.latest_width .latest_column .news_card .card_image_container .card_image a img {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.latest_width .latest_column .news_card .card_image_container .card_image a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 75%;
}

.latest_width .latest_column .news_card .card_image_container .tab_boundaries {
  position: relative;
  width: 100%;
  height: 0;
  z-index: 5;
}

.latest_width .latest_column .news_card .card_image_container .tab_boundaries .tab_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 0px;
  height: 23px;
}

.latest_width .latest_column .news_card .card_image_container .tab_boundaries .tab_text .tab_pop_out {
  display: none;
  position: absolute;
  right: -75px;
  top: -60px;
  width: 200px;
  height: 50px;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 16.8px;
  text-align: center;
  color: white;
  background-color: #333645;
}

.latest_width .latest_column .news_card .card_image_container .tab_boundaries .tab_text .pop_out_arrow {
  display: none;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #333645;
  padding-bottom: -5px;
  right: 20px;
  top: -15px;
}

.latest_width .latest_column .news_card .card_image_container .tab_boundaries .tab_text .tab_link {
  display: block;
  color: white;
  padding: 0 10px;
  font-size: 12px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 0px;
}

.latest_width .latest_column .news_card .card_image_container .tab_boundaries :hover .tab_pop_out,
.latest_width .latest_column .news_card .card_image_container .tab_boundaries :hover .pop_out_arrow {
  display: block;
}

.latest_width .latest_column .news_card .card_content {
  padding: 30px;
  height: auto;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0px 0px 3px 3px;
  margin-bottom: 50px;
}

.latest_width .latest_column .news_card .card_content .news_title {
  display: block;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.latest_width .latest_column .news_card .card_content .news_description {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 25px;
  padding-right: 25px;
  color: grey;
}

.latest_width .latest_column .news_card .card_content .read_more_button {
  display: block;
  text-transform: uppercase;
  color: white;
  padding: 5px 15px;
  line-height: 35px;
  font-size: 17px;
  width: 128px;
  height: 47px;
  border-radius: 3px;
}

.latest_width .latest_column .news_card .card_content .card_author {
  border-top: solid 1px grey;
  padding-top: 30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.latest_width .latest_column .news_card .card_content .card_author .card_author_logo {
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.latest_width .latest_column .news_card .card_content .card_author .card_author_content {
  padding-left: 20px;
  display: block;
}

.latest_width .latest_column .news_card .card_content .card_author .card_author_content .card_author_name,
.latest_width .latest_column .news_card .card_content .card_author .card_author_content .card_author_date {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.latest_width .latest_column .news_card .card_content .card_author .card_author_content .card_author_date {
  color: grey;
}

.latest_width .latest_column .news_card .card_content .card_author .card_author_content .card_author_name {
  letter-spacing: 1px;
}

.logo_container {
  display: none;
  background: #ebebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), color-stop(12%, white), to(white));
  background: linear-gradient(180deg, #ebebeb 0%, white 12%, white 100%);
  height: 170px;
  position: relative;
}

.logo_container .logo_segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
  margin: auto auto;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_container .logo_segment .logo_box {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo_container .logo_segment .logo_box img {
  width: auto;
  max-height: 45px;
  padding: 0 20px;
}

.logo_container .logo_segment .logo_box .coloured {
  display: none;
}

.logo_container .logo_segment .logo_box:hover .greyscale {
  display: none;
}

.logo_container .logo_segment .logo_box:hover .coloured,
.logo_container .logo_segment .logo_box:hover .logo_pop_out {
  display: block;
}

.logo_container .logo_segment .logo_box .logo_pop_out {
  display: none;
  position: relative;
  width: 100%;
  bottom: 255px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.logo_container .logo_segment .logo_box .logo_pop_out .description {
  display: block;
  position: absolute;
  width: 250px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: white;
  background-color: #333645;
  padding: 20px;
}

.logo_container .logo_segment .logo_box .logo_pop_out .description h3 {
  font-size: 18px;
  line-height: 19.8px;
  padding-bottom: 17px;
  margin-bottom: 11px;
}

.logo_container .logo_segment .logo_box .logo_pop_out .description p {
  display: block;
  position: relative;
  line-height: 22px;
  font-size: 13px;
  z-index: 2;
}

.logo_container .logo_segment .logo_box .logo_pop_out .description .arrow {
  position: absolute;
  bottom: -25px;
  width: 50px;
  height: 50px;
  background-color: #333645;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  z-index: 1;
}

.logo_container .logo_segment .logo_box .pop_crane, .logo_container .logo_segment .logo_box .pop_northern {
  bottom: 299px;
}

@media (min-width: 750px) {
  .image_slideshow {
    height: 958px;
    padding-top: 110px;
  }
  .image_slideshow .slide {
    max-height: 848px;
  }
  .image_slideshow .slide img {
    height: 848px;
  }
  .image_slideshow .slide .image_text_boundaries {
    padding-left: calc(((100vw - 18px) - 750px)/2);
  }
  .image_slideshow .slide .image_text_boundaries .image_text .sub_text {
    width: 70%;
    margin: 35px auto;
  }
  .card_container .card_width_container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .card_container .card_width_container .card_telecoms,
  .card_container .card_width_container .card_cybers {
    width: 345px;
    margin-right: 30px;
  }
  .card_container .card_width_container .card_telecoms .btn,
  .card_container .card_width_container .card_cybers .btn {
    margin-top: 22px;
  }
  .card_container .card_width_container .card_web,
  .card_container .card_width_container .card_dev {
    width: 345px;
  }
  .description_block .description_background .description_width {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .latest .latest_boundaries {
    width: 750px;
  }
  .latest_width .latest_column {
    width: 750px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .latest_width .latest_column .news_card {
    width: 345px;
    margin: 0 0;
  }
  .latest_width .latest_column .news_card {
    width: 345px;
  }
  .latest_width .latest_column .news_card:nth-of-type(3) {
    display: none;
  }
  .logo_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo_container .logo_segment {
    width: 750px;
  }
}

@media (min-width: 975px) {
  .slide_left {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  .image_slideshow {
    padding-top: 210px;
    height: 968px;
  }
  .image_slideshow .slide .image_text_boundaries {
    padding-left: calc(((100vw - 18px) - 970px)/2);
  }
  .image_slideshow .slide .image_text_boundaries .image_text {
    text-align: left;
  }
  .image_slideshow .slide .image_text_boundaries .image_text .sub_text {
    margin: 35px 0;
  }
  .image_slideshow .slide .image_text_boundaries .image_text a {
    margin: 0;
  }
  .card_container .card_width_container {
    width: 970px;
  }
  .card_container .card_width_container .card_bespoke,
  .card_container .card_width_container .card_it,
  .card_container .card_width_container .card_digital {
    width: 293px;
  }
  .card_container .card_width_container .card_bespoke,
  .card_container .card_width_container .card_it {
    margin-right: 30px;
  }
  .card_container .card_width_container .card_it .btn {
    margin-top: 22px;
  }
  .card_container .card_width_container .card_telecoms,
  .card_container .card_width_container .card_cybers {
    width: 455px;
    margin-right: 30px;
  }
  .card_container .card_width_container .card_telecoms .btn,
  .card_container .card_width_container .card_cybers .btn {
    margin-top: 0;
  }
  .card_container .card_width_container .card_web,
  .card_container .card_width_container .card_dev {
    width: 455px;
  }
  .description_block .description_background .description_width {
    width: 970px;
  }
  .latest .latest_boundaries {
    width: 970px;
  }
  .latest_width .latest_column {
    width: 970px;
  }
  .latest_width .latest_column .news_card {
    width: 455px;
  }
  .logo_container .logo_segment {
    width: 970px;
  }
  .logo_container .logo_segment .logo_box img {
    max-height: 62px;
  }
  .logo_container .logo_segment .logo_box .logo_pop_out {
    bottom: 263px;
  }
  .logo_container .logo_segment .logo_box .pop_crane,
  .logo_container .logo_segment .logo_box .pop_northern {
    bottom: 307px;
  }
}

@media (min-width: 1260px) {
  .image_slideshow .slide .image_text_boundaries {
    padding-left: calc(((100vw - 18px) - 1200px)/2);
  }
  .card_container .card_width_container {
    width: 1200px;
  }
  .card_container .card_width_container .card_bespoke,
  .card_container .card_width_container .card_it,
  .card_container .card_width_container .card_digital {
    width: 370px;
  }
  .card_container .card_width_container .card_it .btn {
    margin-top: 0;
  }
  .card_container .card_width_container .card_telecoms,
  .card_container .card_width_container .card_cybers,
  .card_container .card_width_container .card_web,
  .card_container .card_width_container .card_dev {
    width: 270px;
    margin-right: 30px;
  }
  .card_container .card_width_container .card_dev {
    margin-right: 0;
  }
  .description_block .description_background .description_width {
    width: 1200px;
  }
  .description_block .description_background .description_width .description_placement {
    width: 50%;
  }
  .latest .latest_boundaries {
    width: 1200px;
  }
  .latest_width .latest_column {
    width: 1200px;
  }
  .latest_width .latest_column .news_card {
    width: 370px;
  }
  .latest_width .latest_column .news_card:nth-of-type(3) {
    display: block;
  }
  .logo_container .logo_segment {
    width: 1200px;
  }
  .logo_container .logo_segment .logo_box img {
    max-height: 70px;
  }
  .logo_container .logo_segment .logo_box .logo_pop_out {
    bottom: 267px;
  }
  .logo_container .logo_segment .logo_box .pop_crane,
  .logo_container .logo_segment .logo_box .pop_northern {
    bottom: 311px;
  }
}

.web_hover a .fa {
  color: #926fb1;
}

.web_hover:hover {
  background-color: #926fb1;
  margin-left: auto;
  margin-right: auto;
}

.web_hover:hover .web_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.web_hover:hover .web_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.web_hover:hover .web_contents .content_position a {
  background-color: #79539a;
}

.web_hover:hover a .fa {
  color: white;
}

.it_hover a .fa {
  color: #4183d7;
}

.it_hover:hover {
  background-color: #4183d7;
  margin-left: auto;
  margin-right: auto;
}

.it_hover:hover .it_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.it_hover:hover .it_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.it_hover:hover .it_contents .content_position a {
  background-color: #286abd;
}

.it_hover:hover a .fa {
  color: white;
}

.telecoms_hover a .fa {
  color: #d64541;
}

.telecoms_hover:hover {
  background-color: #d64541;
  margin-left: auto;
  margin-right: auto;
}

.telecoms_hover:hover .telecoms_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.telecoms_hover:hover .telecoms_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.telecoms_hover:hover .telecoms_contents .content_position a {
  background-color: #bc2c28;
}

.telecoms_hover:hover a .fa {
  color: white;
}

.bespoke_hover a .fa {
  color: #67809f;
}

.bespoke_hover:hover {
  background-color: #67809f;
  margin-left: auto;
  margin-right: auto;
}

.bespoke_hover:hover .bespoke_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.bespoke_hover:hover .bespoke_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.bespoke_hover:hover .bespoke_contents .content_position a {
  background-color: #526781;
}

.bespoke_hover:hover a .fa {
  color: white;
}

.digital_hover a .fa {
  color: #2eec71;
}

.digital_hover:hover {
  background-color: #2eec71;
  margin-left: auto;
  margin-right: auto;
}

.digital_hover:hover .digital_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.digital_hover:hover .digital_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.digital_hover:hover .digital_contents .content_position a {
  background-color: #25a25a;
}

.digital_hover:hover a .fa {
  color: white;
}

.cybers_hover a .fa {
  color: #f62459;
}

.cybers_hover:hover {
  background-color: #f62459;
  margin-left: auto;
  margin-right: auto;
}

.cybers_hover:hover .cybers_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de093f;
}

.cybers_hover:hover .cybers_contents .content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de093f;
}

.cybers_hover:hover .cybers_contents .content_position a {
  background-color: #de093f;
}

.cybers_hover:hover a .fa {
  color: white;
}

.card_web .web_icon_background {
  background-color: #926fb1;
}

.card_web .btn_web {
  background-color: #926fb1;
  color: white;
}

.card_web:hover {
  background-color: #926fb1;
  color: white;
}

.card_web:hover .web_icon_background {
  background-color: white;
}

.card_web:hover .btn_web,
.card_web:hover .fa {
  color: #926fb1;
}

.card_web:hover .btn {
  background-color: white;
}

.card_it .it_icon_background {
  background-color: #4183d7;
}

.card_it .btn_it {
  background-color: #4183d7;
  color: white;
}

.card_it:hover {
  background-color: #4183d7;
  color: white;
}

.card_it:hover .it_icon_background {
  background-color: white;
}

.card_it:hover .btn_it,
.card_it:hover .fa {
  color: #4183d7;
}

.card_it:hover .btn {
  background-color: white;
}

.card_telecoms .telecoms_icon_background {
  background-color: #d64541;
}

.card_telecoms .btn_telecoms {
  background-color: #d64541;
  color: white;
}

.card_telecoms:hover {
  background-color: #d64541;
  color: white;
}

.card_telecoms:hover .telecoms_icon_background {
  background-color: white;
}

.card_telecoms:hover .btn_telecoms,
.card_telecoms:hover .fa {
  color: #d64541;
}

.card_telecoms:hover .btn {
  background-color: white;
}

.card_bespoke .bespoke_icon_background {
  background-color: #67809f;
}

.card_bespoke .btn_bespoke {
  background-color: #67809f;
  color: white;
}

.card_bespoke:hover {
  background-color: #67809f;
  color: white;
}

.card_bespoke:hover .bespoke_icon_background {
  background-color: white;
}

.card_bespoke:hover .btn_bespoke,
.card_bespoke:hover .fa {
  color: #67809f;
}

.card_bespoke:hover .btn {
  background-color: white;
}

.card_digital .digital_icon_background {
  background-color: #2eec71;
}

.card_digital .btn_digital {
  background-color: #2eec71;
  color: white;
}

.card_digital:hover {
  background-color: #2eec71;
  color: white;
}

.card_digital:hover .digital_icon_background {
  background-color: white;
}

.card_digital:hover .btn_digital,
.card_digital:hover .fa {
  color: #2eec71;
}

.card_digital:hover .btn {
  background-color: white;
}

.card_cybers .cybers_icon_background {
  background-color: #f62459;
}

.card_cybers .btn_cybers {
  background-color: #f62459;
  color: white;
}

.card_cybers:hover {
  background-color: #f62459;
  color: white;
}

.card_cybers:hover .cybers_icon_background {
  background-color: white;
}

.card_cybers:hover .btn_cybers,
.card_cybers:hover .fa {
  color: #f62459;
}

.card_cybers:hover .btn {
  background-color: white;
}

.news_info_web {
  display: block;
}

.news_info_web .card_image_container .tab_boundaries .tab_link {
  background-color: #926fb1;
}

.news_info_web .news_title {
  color: #926fb1;
  text-decoration: none;
}

.news_info_web .news_title:hover {
  color: #926fb1;
}

.news_info_web .read_more_button {
  background-color: #926fb1;
}

.news_info_web .read_more_button:hover {
  background-color: #79539a;
}

.slide_button_web {
  background-color: #926fb1;
}

.slide_button_web:hover {
  background-color: #79539a;
}

.header_button .web_icon {
  color: #926fb1;
}

.news_info_it {
  display: block;
}

.news_info_it .card_image_container .tab_boundaries .tab_link {
  background-color: #4183d7;
}

.news_info_it .news_title {
  color: #4183d7;
  text-decoration: none;
}

.news_info_it .news_title:hover {
  color: #4183d7;
}

.news_info_it .read_more_button {
  background-color: #4183d7;
}

.news_info_it .read_more_button:hover {
  background-color: #286abd;
}

.slide_button_it {
  background-color: #4183d7;
}

.slide_button_it:hover {
  background-color: #286abd;
}

.header_button .it_icon {
  color: #4183d7;
}

.news_info_telecoms {
  display: block;
}

.news_info_telecoms .card_image_container .tab_boundaries .tab_link {
  background-color: #d64541;
}

.news_info_telecoms .news_title {
  color: #d64541;
  text-decoration: none;
}

.news_info_telecoms .news_title:hover {
  color: #d64541;
}

.news_info_telecoms .read_more_button {
  background-color: #d64541;
}

.news_info_telecoms .read_more_button:hover {
  background-color: #bc2c28;
}

.slide_button_telecoms {
  background-color: #d64541;
}

.slide_button_telecoms:hover {
  background-color: #bc2c28;
}

.header_button .telecoms_icon {
  color: #d64541;
}

.news_info_bespoke {
  display: block;
}

.news_info_bespoke .card_image_container .tab_boundaries .tab_link {
  background-color: #67809f;
}

.news_info_bespoke .news_title {
  color: #67809f;
  text-decoration: none;
}

.news_info_bespoke .news_title:hover {
  color: #67809f;
}

.news_info_bespoke .read_more_button {
  background-color: #67809f;
}

.news_info_bespoke .read_more_button:hover {
  background-color: #526781;
}

.slide_button_bespoke {
  background-color: #67809f;
}

.slide_button_bespoke:hover {
  background-color: #526781;
}

.header_button .bespoke_icon {
  color: #67809f;
}

.news_info_digital {
  display: block;
}

.news_info_digital .card_image_container .tab_boundaries .tab_link {
  background-color: #2eec71;
}

.news_info_digital .news_title {
  color: #2eec71;
  text-decoration: none;
}

.news_info_digital .news_title:hover {
  color: #2eec71;
}

.news_info_digital .read_more_button {
  background-color: #2eec71;
}

.news_info_digital .read_more_button:hover {
  background-color: #25a25a;
}

.slide_button_digital {
  background-color: #2eec71;
}

.slide_button_digital:hover {
  background-color: #25a25a;
}

.header_button .digital_icon {
  color: #2eec71;
}

.news_info_cybers {
  display: block;
}

.news_info_cybers .card_image_container .tab_boundaries .tab_link {
  background-color: #f62459;
}

.news_info_cybers .news_title {
  color: #f62459;
  text-decoration: none;
}

.news_info_cybers .news_title:hover {
  color: #f62459;
}

.news_info_cybers .read_more_button {
  background-color: #f62459;
}

.news_info_cybers .read_more_button:hover {
  background-color: #de093f;
}

.slide_button_cybers {
  background-color: #f62459;
}

.slide_button_cybers:hover {
  background-color: #de093f;
}

.header_button .cybers_icon {
  color: #f62459;
}
/*# sourceMappingURL=input.css.map */