@import "variables.scss";

@each $name, $col, $dark_col in $colours {
    .#{$name}_hover {
            a .fa {
                color: $col;
        }
    }
    .#{$name}_hover:hover {
        background-color: $col;
        margin-left: auto;
        margin-right: auto;
        .#{$name}_contents {
            display: flex; // could be block
            .content_position {
                display: flex;
                background-color: $dark_col;
                a {
                    background-color: $dark_col;
                }
            }
            background-color: $dark_col;
        }
        a .fa {
            color: white;
        }
    }
}

@each $name, $col, $dark_col in $colours {
    .card_#{$name} {
        .#{$name}_icon_background {
            background-color: $col;
        }
        .btn_#{$name} {
            background-color: $col;
            color: white;
        }
    }
    .card_#{$name}:hover {
        background-color: $col;
        color: white;
        .#{$name}_icon_background {
            background-color: white;
        }
        .btn_#{$name},
        .fa {
            color: $col;
        }
        .btn {
            background-color: white;
        }
    }
}

@each $name, $normal_col, $hover_col in $colours {
    .news_info_#{$name} {
        .card_image_container {
            .tab_boundaries {
                .tab_link {
                    background-color: $normal_col;
                }
            }
        }
        .news_title {
            color: $normal_col;
            text-decoration: none;
        }
        .news_title:hover {
            color: $normal_col;
        }
        .read_more_button {
            background-color: $normal_col;
        }
        .read_more_button:hover {
            background-color: $hover_col;
        }
    }

    .slide_button_#{$name} {
        background-color: $normal_col;
    }
    .slide_button_#{$name}:hover {
        background-color: $hover_col;
    }

    .header_button .#{$name}_icon {
        color: $normal_col;
        // background-color: $normal_col;
    }
}